<?php

define('FOLDER', '/quizometro/server/');

define('FACEBOOK_ID', 'XXX');
define('FACEBOOK_SECRET', 'XXX');

define('TWITTER_ID', 'XXX');
define('TWITTER_SECRET', 'XXX');

define('GOOGLE_ID', 'XXX');
define('GOOGLE_SECRET', 'XXX');