.App{
    width: 100vw;
    height: 100vh;
}

.App-header{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("./assets/bg.jpg");
    background-size: cover;
}

.App-header img {
    cursor: pointer;
    animation: float 6s ease-in-out infinite;
}

.content{
    width: 100vw;
    height: 100vh;


    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}